.header {
   background-color: #dad5d1;
   width: 100%;
   padding: 16px 10px 16px 10px;
   flex: 0 0 auto;
}
.header__item {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}
.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 80px;
}

.header__left {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}
.header__right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   /* margin: 0px 0px 0px 80px; */
}
.header__logo {
   margin: 0px 100px 0px 0px;
}
.logo__icons {
   max-width: 20px;
}
.header__userinfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
}

@media (max-width: 700px) {
   .header__wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      padding: 0 10px 0 10px;
   }
}

.flora {
   width: 130px;
}
.header__items {
   display: flex;
   gap: 20px;
}
