.header__bubble {
   /* background-color: #01a54e; */
   background-color: #fff;
   color: rgb(48, 47, 47);
   font-size: 12px;
   font-weight: 700;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   position: absolute;
   left: 60%;
   bottom: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2px;
   /* border: 3px solid #ffe44d; */
}
.header__bubble-link {
   text-decoration: none;
   position: relative;
}
.create-product__header {
   display: inline-block;
   font-weight: normal;
   background-color: #99c27c;
   padding: 10px;
   /* border-radius: 10px; */
   text-align: right;
   font-size: 16px;
   cursor: pointer;
   /* font-weight: 700; */
   /* color: #4f4b44; */
}
.create-product__header:hover {
   background-color: #6f8f57;
}
/* .btn-main {
   font-size: 20px;
   padding: 16px 28px 16px 28px;
   margin: 40px 0px 0px 0px;
   cursor: pointer;
   background-color: #99c27c;
   color: white;
}
.btn-main:hover {
   background-color: #6f8f57;
} */
