.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 14px 16px;
   max-width: 356px;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #1a1a1a;
   cursor: pointer;
   font-family: Montserrat;
   /* border-radius: 55px; */
   background-color: #fff;
   border: 1px solid #cfd8dc;
}
.yellow {
   border: none;
   background-color: #99c27c;
}
