.auth {
}
.auth__input {
   padding: 14px 16px;
   /* border-radius: 12px; */
   border: 1px solid #cfd8dc;
   font-size: 16px;
   line-height: 20px;
   font-family: Montserrat;
   max-height: 3rem;
   /* color: #7b8e98; */
}
.auth__input:hover,
.auth__input:focus {
   border-color: #6f8f57;
   caret-color: #6f8f57;
}
.auth__controls {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.auth__remove-password {
   color: #7b8e98;
   font-size: 14px;
   line-height: 20px;
   font-weight: normal;
   text-align: right;
   /* margin-bottom: 22px; */
   cursor: pointer;
}
.auth__remove-password-left {
   color: #7b8e98;
   font-size: 14px;
   line-height: 20px;
   font-weight: normal;
   text-align: left;
   /* margin: 24px 0px 24px 0px; */
}
